* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin: 0 auto;
    max-width: 80%;
    padding: 1rem;
}
header > div {
    display: inline-block;
}
fieldset {
    display: flex;
    border: 2px solid rgb(19, 63, 146); 
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
fieldset.scheduler-border {
    border: 2px solid rgb(19, 63, 146) !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
    width: auto;
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    z-index: 2;
    text-align: center;
    width: 100%;
    background: rgb(19, 63, 146);
    align-items: center;
    justify-content: center;
    height: 2rem;
    color: cornsilk;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.itemslist {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(8, 1fr);
}
@media (max-width: 1680px) {
    .itemslist { grid-template-columns: repeat(7, 1fr); }
}
@media (max-width: 1450px) {
    .itemslist { grid-template-columns: repeat(6, 1fr); }
}
@media (max-width: 1220px) {
    .itemslist { grid-template-columns: repeat(5, 1fr); }
}
@media (max-width: 1000px) {
    .itemslist { grid-template-columns: repeat(4, 1fr); }
}
@media (max-width: 800px) {
    .itemslist { grid-template-columns: repeat(3, 1fr); }
}
@media (max-width: 600px) {
    .itemslist { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 400px) {
    .itemslist { grid-template-columns: repeat(1, 1fr); }
}
/* LOADER STYLE */
.loader{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 
            50% 50% no-repeat rgb(255, 255, 255);
    z-index: 9998; /* Specify a stack order in case you're using a different order for other elements */
}
.loadertext {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -60px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: rgb(98, 0, 255);
}
.show {
    display: block;
}
.hide {
    display: none;
}
.notifikacia {
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed; /* Sit on top of the page content */
    width: 100%;
    background-color: rgb(0, 226, 68);
    height: 100vh;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.cartBtns {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1rem;
}
.cartBtns > button {
    margin: 1rem;
}

.boxes .itemslist a{
    width:155px
}

.decks .itemslist a{
    width:155px
}